# Dependency directories
node_modules/

# next.js build output
.next

# Logs
*.log
yarn-debug.log*
yarn-error.log*
report.*.json

# Test coverage
coverage/

# Images
.DS_Store

# VSCode
.vscode/
launch.json

.idea
.scannerwork/
